name: Publish

on:
  push:
  schedule:
    # Auto-Update on Fridays
    - cron: 0 1 * * FRI

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: download pandoc 
        run: wget https://github.com/jgm/pandoc/releases/download/2.19.2/pandoc-2.19.2-linux-amd64.tar.gz 

      - name: extract pandoc 
        run: tar -xzf pandoc-2.19.2-linux-amd64.tar.gz 

      - name: tree
        run: tree

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            _opam 
            _build
          key: 2


      - name: Install Dependencies 
        run: sudo apt install opam && opam init

      - name: Generate Examples
        run: ./run.sh

      - name: Build HTML
        run: ./render.sh

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./publish
          cname: bonsai.red
